:root {
    --p-01: hsl(115, 97%, 35%);
    --p-02: hsl(115, 76%, 40%);
    --p-03: hsl(115, 69%, 68%);
    --p-04: hsl(115, 59%, 89%);

    --p-white-01: hsl(0, 0%, 96%);
    --p-white-02: hsl(0, 0%, 92%);
    --p-white-03: hsl(0, 0%, 88%);
    --p-white-04: hsl(0, 0%, 51%);

    --p-black-01: hsl(247, 12%, 15%);
    --p-black-02: hsl(251, 13%, 24%);
    --p-black-03: hsl(273, 12%, 31%);
    --p-black-04: hsl(296, 8%, 40%);
}

@font-face {
    font-family: mono;
    src: url(../_fonts/Ubuntu-C.ttf);
}

html,
body {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    flex-direction: column;
    justify-content: space-between;

    background-color: var(--p-white-01);

    color: var(--p-black-01);
}

footer {
    /* position: sticky;
    bottom: 0; */

    padding: 1em 0em 1em 0em;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    background-color: var(--p-white-01);
}

main {
    height: max-content;
    display: flex;

    justify-content: center;
    align-items: center;
}

label,
input,
p,
a {
    margin: 1em;
}

th,
td,
thead,
tbody {
    border: thin solid var(--p-black-04);
    padding: 1em;
}

table {
    margin: 2em;
    max-width: 70em;
}

input,
select {
    background-color: var(--p-white-02);

    border: thin solid var(--p-black-04);
    border-radius: .5em;
}


input[type="submit"] {
    width: fit-content;
}


input:hover,
select:hover {
    background-color: var(--p-white-03);
    border-color: var(--p-black-03);
}

.standard-width {
    width: 50ch;
}

.box {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    max-width: 50ch;

    height: fit-content;

    border-radius: .5em;
    padding: 1em;
    margin: 1em;

    border: 1px solid var(--p-black-01);

    background-color: var(--p-white-01);
}

.mono {
    font: 1em "mono";
}

.center-abs {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-column {
    display: flex;
    flex-direction: column;

    align-items: center;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: column;

    align-items: center;
    flex-direction: row;
}

.spaced-between {
    justify-content: space-between;
    width: 100%;
}

.flex-grid {
    flex-wrap: wrap;
}

.break-text {
    word-wrap: break-word;
    word-break: break-all;
}

.no-deco {
    text-decoration: none;
}

.inline {
    display: inline-block;
    margin: 0;
}

#add {
    font-size: 5em;

    color: var(--p-white-01);

    background-color: transparent;
    border: 0;
}

#add:hover {
    color: var(--p-black-03);
}