:root {
    --p-white-01: hsl(0, 0%, 96%);
    --p-white-02: hsl(0, 0%, 92%);
    --p-white-03: hsl(0, 0%, 88%);
    --p-white-04: hsl(0, 0%, 51%);

    --p-black-01: hsl(247, 12%, 15%);
    --p-black-02: hsl(251, 13%, 24%);
    --p-black-03: hsl(273, 12%, 31%);
    --p-black-04: hsl(296, 8%, 40%);
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--p-white-01);
    color: var(--p-black-01);
}

footer {
    padding: 1em 0em 1em 0em;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

label,
input,
p,
a {
    margin: 1em;
}

th,
td,
thead,
tbody {
    border: thin solid var(--p-black-04);
    padding: 1em;
}

table {
    margin: 2em;
}

textarea {
    resize: none;
    padding: 1em;
}

input,
select {
    background-color: var(--p-white-02);
    border: thin solid var(--p-black-04);
    border-radius: .5em;
    padding: 1ch;
}

input[type="submit"] {
    width: fit-content;
}

input:hover,
select:hover {
    background-color: var(--p-white-03);
    border-color: var(--p-black-03);
}

.standard-width {
    max-width: 70em;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 35em;
    height: fit-content;
    border-radius: .5em;
    padding: 1em;
    margin: 1em;
    border: 1px solid var(--p-black-01);
    background-color: var(--p-white-01);
}

.mono {
    font: 1em "mono";
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
}

.spaced-between {
    justify-content: space-between;
    width: 100%;
}

.flex-grid {
    flex-wrap: wrap;
}

.break-text {
    word-wrap: break-word;
    word-break: break-all;
}

.no-deco {
    text-decoration: none;
    color: var(--p-black-01);
}

.unselectable {
    /* https://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inline {
    display: inline-block;
    margin: 0;
}

#add {
    font-size: 5em;
    color: var(--p-white-01);
    background-color: transparent;
    border: 0;
}

#add:hover {
    color: var(--p-black-03);
}