:root {
    --p-white-01: hsl(0, 0%, 96%);
    --p-white-02: hsl(0, 0%, 92%);
    --p-white-03: hsl(0, 0%, 88%);
    --p-white-04: hsl(0, 0%, 51%);

    --p-black-01: hsl(247, 12%, 15%);
    --p-black-02: hsl(251, 13%, 24%);
    --p-black-03: hsl(273, 12%, 31%);
    --p-black-04: hsl(296, 8%, 40%);
}

html,
body,
header,
footer,
main,
.flex-column,
.flex-row,
.flex-grid {
    justify-content: center;
    align-items: center;
    display: flex;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--p-white-01);
    color: var(--p-black-01);
}

footer {
    padding: 2ch 0 2ch 0;
    justify-content: space-between;
}

header,
footer {
    width: 100%;
}

main {
    height: max-content;
}

label,
input,
select,
option,
p,
a {
    margin: 2ch;
}

th,
td,
thead,
tbody {
    border: thin solid var(--p-black-04);
    padding: 2ch;
}

table {
    margin: 2ch;
}

textarea {
    resize: none;
    padding: 2ch;
}

input,
select {
    background-color: var(--p-white-02);
    border: thin solid var(--p-black-04);
    border-radius: 1ch;
    padding: 1ch;
}

input:hover,
select:hover {
    background-color: var(--p-white-03);
    border-color: var(--p-black-03);
}

.box {
    justify-content: space-between;
    max-width: 52ch;
    height: fit-content;
    border-radius: 1ch;
    padding: 2ch;
    margin: 2ch;
    border: thin solid var(--p-black-01);
    background-color: var(--p-white-01);
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-grid {
    flex-wrap: wrap;
}

.break-text {
    word-wrap: break-word;
    word-break: break-all;
}

.inline {
    display: inline-block;
    margin: 0;
}

.spaced-between {
    justify-content: space-between;
    width: 100%;
}

.no-deco {
    text-decoration: none;
    color: var(--p-black-01);
}

.unselectable {
    /* https://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tooltip {
	position:absolute;
	background-color:black;
	visibility:hidden;
	padding:0.5em;
	border-radius:10px;
	color:white;
}

#anexo:hover + #tp0{
	visibility:visible;
}